.logo-site {
    height: 200px;
}

p{
    font-size: 1.3em;
    color: darkslategrey;
}

header, a {
    color: brown;
    font-size: 25px;
    margin-bottom: 25px;
}

a:hover {
    color: olive;
}

h1 {
    color: darkgreen;
    font-size: 40px;
    padding-bottom: 30px;
}

body {
    background-color: #e6fff2;
    height: 100%;
    margin : 10px;
    padding: 0;
}

header nav a {
    display: inline-flex;
    padding: 10px 10px;
}

label {
    display: block;
    margin-top: 10px;
}

button {
    margin : 20px;
}

/* Form */
#sortie_dateDebut {
   display: inline-flex;
}

#sortie_dateClotureInscription {
    display: inline-flex;
}

#sortie_dateDebut_date_year {
    margin-right: 20px;
}

#sortie_dateClotureInscription_date_year {
    margin-right: 20px;
}

form {
    font-family: Poppins, serif;
    font-size: medium;
    color: #B0413E;
}

/*Tableau*/
table {
    text-align: center;
    border: 1px solid darkgreen;
}

th {
    border: 1px solid darkgreen;
    padding: 5px 30px;
}

td {
    padding: 5px 30px;
}


