.logo-site {
    height: 200px;
}


header, a {
    color: brown;
    font-size: 25px;
    margin-bottom: 30px;
}

a:hover {
    color: olive;
}

h1 {
    color: darkgreen;
    font-size: 40px;
}

body {
    height: 100%;
    margin : 10px;
    padding: 0;
}

header nav a {
    display: inline-flex;
    padding: 10px 10px;
}

label {
    display: block;
    margin-top: 10px;
}

button {
    margin : 20px;
}

